---
import "@/styles/globals.css"
import Layout from "@/layouts/Layout.astro"

import { ModeToggle } from "@/components/mode-toggle"

const { PDF_VIEW } = import.meta.env

const { Content, frontmatter } = await import("@/content/resume.md")
---

<Layout title="Jonggwang Park - Resume">
  {
    !PDF_VIEW && (
      <div class="container mx-auto flex justify-end py-4">
        <ModeToggle client:load />
      </div>
    )
  }
  <main class={!PDF_VIEW ? "container mx-auto my-12 bg-slate-100 dark:bg-slate-900 px-8 py-10" : "container mx-auto px-8 py-10"}>
    <div>
      <div class="space-y-2">
        <h1 class="text-3xl font-bold tracking-tight">
          {frontmatter.author}
        </h1>
        <p class="text-base text-muted-foreground">
          {frontmatter.position}
        </p>
      </div>
    </div>
    <article class="mdx pt-4">
      <Content />
    </article>
  </main>
</Layout>

<style>
  .mdx {
    h1 {
      @apply text-3xl font-bold tracking-tight;
    }

    p {
      @apply text-sm text-foreground font-light leading-normal;
    }
  }
</style>
