---
import { DownloadIcon } from "lucide-react"

type Props = {
  href: string
}

const { href } = Astro.props as Props
---

<a
  download
  href={href}
  class="inline-flex items-center justify-center whitespace-nowrap rounded-md transition-colors focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0 hover:bg-accent hover:text-accent-foreground h-9 w-9"
  rel="noopener noreferrer"
>
  <DownloadIcon className="h-[1.2rem] w-[1.2rem]" />
</a>
